PORT=5000

MONGO_URI=mongodb+srv://cb8932182_db_user:Anshuanurag123@clusterbustracking.ef4a1t2.mongodb.net/college_bus_tracker?retryWrites=true&w=majority&appName=ClusterBusTracking

JWT_SECRET=8d91f7b1e2c04a89b5d7e8f3a1c6d4b9f2e5a8c7d1b4f6a9
JWT_EXPIRE=7d
ADMIN_RESET_KEY=your_secure_admin_reset_key_here

CLIENT_URL=http://localhost:5173

NODE_ENV=development